// CLASSES

.darkReviewUsername {
    color: white;
    font-weight: bold;
}

.darkReviewContext {
    color: white;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.reviewContext {
    color: black;
}

.reviewContextContainer {
    display: flex;
}

.reviewUsername {
    color: black;
    font-weight: bold;
}

.usernameAndRating {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .reviewContainer {
        width: 60%;
    }
}