// CLASSES
.signupErrors {
    color: red;
}

.signupForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
    min-width: 95%;
}

.signup-btn {
    background-color: white;
    border: 2px solid #0062b3;
    border-radius: 10px;
    font-size: 1.25em;
    padding: 10px;
}

.dark-signup-btn {
    background-color: #0062b3;
    color: white;
}

// MEDIA QUERIES

@media screen and (min-width: 481px) {
    .signupForm {
        min-width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .signupForm {
        min-width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .signupForm {
        min-width: 45%;
    }
}