// CLASSES

.signupErrors {
    color: red;
}

.signupForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
    min-width: 95%;
}

.signup-btn {
    background-color: white;
    border: 2px solid #0062b3;
    border-radius: 14px;
}

// IDS

#dark-signup-btn {
    background-color: #0062b3;
    border-color: black;
}