@use '../abstracts/index' as *;

.app {
    background-color: $main_background_color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    max-width: 1200px;
}

.dark {
    background-color: $main_background_color_dark;
}
