// CLASSES
.views {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    margin-top: 10%;
    width: 100%;
    max-width: 1200px;
}

.submit-btn {
    border-radius: 10px;
    background-color: white;
    border: 2px solid #0062b3;
}

// IDS

#dark-submit-btn {
    background-color: #0062b3;
    border: none;
}

// MEDIA QUERIES

@media  screen and (max-width: 360px) {
    .views {
        margin-top: 30%;
    }
}

@media screen and (min-width: 481px) {
    .views {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1025px) {
    .views {
        padding-bottom: 0;
    }
}