// CLASSES
.gameDetailsDescriptionContainer {
    display: flex;
    max-height: 200px;
    overflow: auto;
}

.gameDetailsDescription {
    color: black;
    line-height: 1.5em;
}


.gameDetailsDescriptionDark {
    color: white;
}

.gameDetailsImage {
    height: auto;
    width: 95%;
}

.gameDetailsImageContainer {
    justify-content: center;
    display: flex;
    height: 100%;
}

.gameDetailsInfoContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.gameReviews {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 5%;
}

.darkGameReviewsHeader {
    color: white;
}

.gameReviewsHeader {
    color: black;
}

.reviewButton {
    background-color:white;
    border: 2px solid #0a6f73;
    border-radius: 14px;
    color: black;
    padding: 2% 2%;
}

.darkReviewButton {
    background-color: #0a6f73;
    border: none;
    border-radius: 14px;
    color: white;
    padding: 2% 2%;
}

//MEDIA QUERIES

@media screen and (max-width: 360px) {
    #gameDetailsContainer {
        margin-top: 30%;
    }
}