//CLASSES

.header-btns {
    border-radius: 10px;
    max-height: 28px;
}

.headerContainer {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    padding-top: 1%;
    width: 100%;
}

.loginAndSignups {
    display: flex;
    justify-content: space-between;
}

.searchBar {
    border: none;
    height: 70%;
    padding-left: 10px;
}

.searchBar:focus {
    outline: none;
}

.searchBarButton {
    align-items: center;
    background: none;
    border: none;
    display: flex;
}

.searchBarContainer {
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.searchBarContainer:focus-within {
    outline: none;
    border:2px solid #43009c;
    box-shadow: 0 0 10px #719ECE;
}

.resultsContainer {
    align-items: center;
    background-color: white;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 90%;
}

.searchResultContainer {
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    gap: 5%;
    width: 100%;
}

.searchResultImage {
    height: 60px;
    width: 60px;
}

.searchResultTitle {
    font-size: .75em;
    text-align: left;
}

//IDS

#dark-login-btn {
    background-color: #0062b3;
    border: none;
    color: white;
}

#dark-logout-btn {
    background-color: #0062b3;
    border: none;
    color: white;
}

#dark-header-signup-btn {
    background: #192b38;
    border: none;
    color: white;
}

#login-btn {
    background-color: white;
    border: 2px solid #0062b3;
}

#logout-btn {
    background-color: white;
    border: 2px solid #0062b3;
}

#header-signup-btn {
    background-color: white;
    border: 2px solid #192b38;
}
