// CLASSES
.descriptionContainer {
    display: flex;
    max-height: 100px;
    overflow: hidden;
}

.gameContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 2%;
}

.gameDescription {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.gameImage {
    height: auto;
    width: 95%;
}

.gameImageContainer {
    justify-content: center;
    display: flex;
    max-height: 50%;
}

.gameInfoContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.darkGameDescription {
    color: white;
}

.darkGameTitle {
    color: white;
}

.gameTitle {
    color: black;
}

.gameTileContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.gameTileImage {
    width: 60%;
}

.gameTileStars {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.gameTileReview {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}