.addReviewFormContainer {
    display: flex;
}

.addReviewForm {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.reviewFormButton {
    width: 30%;
}

.starsContainer {
    display: flex;
}